:root {
  --color-background: #181a1b;
  --color-navbar: #021e34;
  --color-navbarShadow: #011422;
  --color-navbarFocus: #ffffff33;
  --color-white: #ffffff;
  --darkreader-bg--tmdbLightGreen: 24, 170, 135;
  --darkreader-bg--tmdbLightBlue: 1, 144, 182;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--color-background);
  color: var(--color-white);
  height: 100vh;
}

/* Header */

#headerContainer,
#navHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10%;
}

#headerContainer {
  background-color: var(--color-navbar);
  box-shadow: 1px 1px 6px var(--color-navbarShadow);
  height: 4em; /*Para cada 1 EM temos 16 px. Ex: 3em = 48px, 3.5em = 56px, porque .5 equivale a 8px.*/
}

#navHeader {
  gap: 3em;
  transition: 1s;
  z-index: 2;
}

#navHeader a {
  color: var(--color-white);
  text-decoration: none;
  padding: 6px;
  border-radius: 10px;
  transition: background 0.2s;
}

#navHeader a:hover {
  background-color: var(--color-navbarFocus);
}

.btnIcon {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

#imgLogo img {
  padding-top: 2px;
  width: 120px;
}

@media screen and (max-width: 768px) {
  .btnIcon {
    display: block;
  }

  #navHeader {
    position: absolute;
    flex-direction: column;
    justify-content: start;
    top: 0;
    background-color: var(--color-navbarShadow);
    height: 100%;
    width: 35vw;
    padding: 1em;
    animation-duration: 1s;
    margin-left: -100vw;
  }
}

/* Content */

#fullContainer {
  height: 100vh;
  width: 1400px;
  margin: auto;
  text-align: center;
}

/* TOP */

#topContainer {
  background-image: url(assets/openh.jpg);
  background-size: cover;
  background-position: center;
  text-align: left;
  padding: 80px 40px;
}

#searchBar {
  margin-top: 40px;
  background-color: var(--color-background);
  border-radius: 40px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searchInput {
  width: 90%;
  background: none;
  border: 0;
  outline: 0;
  font-size: 1rem;
  padding-left: 25px;
  color: var(--color-white);
}

#searchButton {
  background: linear-gradient(
    to right,
    rgba(var(--darkreader-bg--tmdbLightGreen), 1) 0%,
    rgba(var(--darkreader-bg--tmdbLightBlue), 1) 100%
  );
  border-radius: 50px;
  border: 0;

  height: 100%;
  width: 10%;

  color: var(--color-white);
  font-weight: 700;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* MID */
