:root {
  --color-background: #181a1b;
  --color-navbar: #021e34;
  --color-navbarShadow: #011422;
  --color-navbarFocus: #ffffff33;
  --color-buttom-details: rgba(4, 45, 59, 0.8);
  --color-white: #ffffff;
  --border-vote: rgba(255, 0, 0, 0.4);
  --darkreader-bg--tmdbLightGreen: 24, 170, 135;
  --darkreader-bg--tmdbLightBlue: 1, 144, 182;
}

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--color-background);
  color: var(--color-white);
  height: 100vh;
}

/* Header */

#headerContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10%;
}

#navHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

#headerContainer {
  background-color: var(--color-navbar);
  box-shadow: 1px 1px 6px var(--color-navbarShadow);
  height: 4em; /*Para cada 1 EM temos 16 px. Ex: 3em = 48px, 3.5em = 56px, porque .5 equivale a 8px.*/
}

#navHeader {
  gap: 3em;
  transition: 1s;
  z-index: 2;
}

#navHeader a {
  color: var(--color-white);
  text-decoration: none;
  padding: 6px;
  border-radius: 10px;
  transition: background 0.2s;
}

#navHeader a:hover {
  background-color: var(--color-navbarFocus);
}

.btnIcon {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

#imgLogo img {
  padding-top: 2px;
  width: 120px;
}

@media screen and (max-width: 768px) {
  .btnIcon {
    display: block;
  }

  #navHeader {
    position: absolute;
    flex-direction: column;
    justify-content: start;
    top: 0;
    background-color: var(--color-navbarShadow);
    height: 100%;
    width: 35vw;
    padding: 1em;
    animation-duration: 1s;
    margin-left: -100vw;
  }
}

/* Content */

#fullContainer {
  width: 1400px;
  margin: auto;
  text-align: center;
}

/* TOP */

#topContainer {
  background-image: url(assets/openh.jpg);
  background-size: cover;
  background-position: center;
  text-align: left;
  padding: 80px 40px;
  max-height: 310px;
}

#searchBar {
  margin-top: 40px;
  background-color: var(--color-background);
  border-radius: 40px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searchInput {
  width: 100%;
  background: none;
  border: 0;
  outline: 0;
  font-size: 1rem;
  padding-left: 25px;
  color: var(--color-white);
}

#resultsContainer {
  position: relative;
  z-index: 2;
  padding: 10px 10px 10px 20px;
  border-radius: 25px;
  margin-top: 10px;
  background-color: var(--color-navbar);
}

.result-card {
  margin: 10px 0px;
}
/* MID */

#tendencies, #mostSeen {
  font-size: 2rem;
  margin: 60px 0px 0px 40px;
}

/* Cartão Movie */
#movieContainer {
  display: flex;
  justify-content: space-around;
  margin: 80px 0px;
}

#filmCard {
  position: relative;
  max-width: 200px;
}

#movieImg {
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 1);
  width: 200px;
  border-radius: 15px;
}

#voteAverage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20%;
  margin: 10px;

  background-color: var(--color-background);
  border: 1px solid var(--border-vote);
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

#filmCard p {
  font-size: 1rem;
  margin: 20px 0;
}

#filmCard a {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-buttom-details);
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 12px;
  border: 0;
  cursor: pointer;
}

/* Cartão TV */

#topRatedContainer {
  display: flex;
  justify-content: space-around;
  margin: 80px 0px;
}

#topRatedCard {
  position: relative;
  max-width: 200px;
}

#topRatedCard p {
  font-size: 1rem;
  margin: 20px 0;
}

#topRatedCard a {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-buttom-details);
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 12px;
  border: 0;
  cursor: pointer;
}

#topRatedImg {
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 1);
  border-radius: 15px;
  width: 200px;
}

/* footer */

#footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10%;

  background-color: var(--color-navbar);
}

#imgLogoFooter img {
  width: 14rem;
}

#footerDetail {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 60px;
}
#basics, #community, #legality{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#basics a, #community a, #legality a{
  text-decoration: none;
  color: var(--color-white);
}
