* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
}

#container {
  width: 100%;
  max-width: 1400px;
  margin: 56px auto 0px;
}

#title {
  text-align: center;
  padding: 24px;
}

#title a {
  color: white;
  text-decoration: underline;
}

#main {
  text-align: center;
  border: 1px solid red;
}

#main p {
  font-size: 40px;
}
