:root {
  --color-background: #181a1b;
  --color-navbar: #021e34;
  --color-navbarShadow: #011422;
  --color-navbarFocus: #ffffff33;
  --color-buttom-details: rgba(4, 45, 59, 0.8);
  --color-white: #ffffff;
  --border-vote: rgba(255, 0, 0, 0.4);
  --darkreader-bg--tmdbLightGreen: 24, 170, 135;
  --darkreader-bg--tmdbLightBlue: 1, 144, 182;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--color-background);
  color: var(--color-white);
  height: 100vh;
}

/* Header */

#headerContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10%;
}

#navHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

#headerContainer {
  background-color: var(--color-navbar);
  box-shadow: 1px 1px 6px var(--color-navbarShadow);
  height: 4em; /*Para cada 1 EM temos 16 px. Ex: 3em = 48px, 3.5em = 56px, porque .5 equivale a 8px.*/
}

#navHeader {
  gap: 3em;
  transition: 1s;
  z-index: 2;
}

#navHeader a {
  color: var(--color-white);
  text-decoration: none;
  padding: 6px;
  border-radius: 10px;
  transition: background 0.2s;
}

#navHeader a:hover {
  background-color: var(--color-navbarFocus);
}

.btnIcon {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

#imgLogo img {
  padding-top: 2px;
  width: 120px;
}

@media screen and (max-width: 768px) {
  .btnIcon {
    display: block;
  }

  #navHeader {
    position: absolute;
    flex-direction: column;
    justify-content: start;
    top: 0;
    background-color: var(--color-navbarShadow);
    height: 100%;
    width: 35vw;
    padding: 1em;
    animation-duration: 1s;
    margin-left: -100vw;
  }
}

/* Content */

#fullContainer {
  width: 1400px;
  margin: 80px auto 80px;
  text-align: center;
}

#detailContainer {
  display: flex;
}

#leftSide {
  width: 30%;
}

#leftSide img {
  width: 300px;
  border: 8px solid var(--color-navbar);
}

#rightSide {
  width: 70%;
}

#rightSide h1 {
  margin: 40px 0px 10px 0px;
}

#rightSide h3 {
  font-size: 1rem;
}

#rightSide p {
  margin: 40px auto;
}

#note{
  width: 80px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--color-navbar);
}

/* footer */

#footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10%;

  background-color: var(--color-navbar);
}

#imgLogoFooter img {
  width: 14rem;
}

#footerDetail {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 60px;
}
#basics, #community, #legality{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#basics a, #community a, #legality a{
  text-decoration: none;
  color: var(--color-white);
}